body{
background-color: rgb(129, 94, 29);
margin: 0;
}

h1 {
    color: rgb(136, 200, 243);
    text-align: center;
    font-family: 'Indie Flower', cursive;
    font-size: 30pt;
    text-decoration: underline;
    margin: 0px;
}

.blue {
    color: blue;
}
    .lightBlue {
    color: aqua;
}

.yellow {
    color: yellow;
}

.orange {
    color: orange;
}

p{
    color: white;
    display: inline;
    font-family: 'Roboto Mono', monospace;
}

#git a{
    text-decoration: underline;
}

 a {
    text-decoration: none;
    outline: none;
}

#info {
    font-size: 20pt;
    text-align: right;

}

#sideBar {
    height: 900px;
    width: 300px;
    position: absolute;
    left: 0;
    top: 0;
    border: 5px double aquamarine;
    margin-right: 30px;

}


/* BUTTONS */
button {
    display: block;
    margin: 40px 0 0 80px;
    height: 50px;
    width:125px;
    border-radius: 50px 50px 30px 30px;
    box-shadow: aqua 10px 10px 30px;
    font-weight: bold;
    font-size: 12pt;
    font-family: 'Roboto Mono', monospace;
    text-decoration: none;
}

button:hover {
    transition: .3s;
    border-radius: 30px 30px 50px 50px;
    box-shadow: aqua 10px -10px 30px;
}

button:focus {
    outline: none;
}

.button-clicked {
    background-color: navy;
}

#eightBall {
    /* margin-top: 50px; */
}

/* BUTTONS */



#name, #email, #git {
    text-align: right;


}

/* #git {
    background-color: white;
    color: gray;
    height: 100px;
    width: 100px;
    float: right;
} */

#Info {
    display: block;
}

#imgBox {
    height: 400px;
    width: 500px;
    margin: 100px 0 0 400px;
    outline: none;
}

#imgBox:focus {
    outline: none;
}

#aboutImgBox {
    height: 350px;
    width: 500px;
    display: inline-block;
    float: right;
    position: relative;
    top: -400px;
    
}

p{
    color:white;
    height: 50px;
    width: 100px;
}

h2{
    color:white;
    /* height: 50px;
    width: 100px; */
    text-align: center;
    font-weight: bold;
    font-style: oblique;
}

img {
    height:400px;
    width: 500px;
    border-radius: 10px;
    box-shadow: aqua 10px 10px 30px;
    outline: none;
}

img:hover {
    box-shadow: aqua 20px -10px 30px;
    border-radius: 100px;
    transition: .3s;
}

span {
    font-size: 20pt;
    color: white;
    font-family: 'Roboto Mono', monospace;
    display: block;
    margin: 20px 0 0 -20px;
    text-align: center;
    transform: skewX(-10deg);
}

@media only screen and (max-width:600px) {
    #imgBox {
       margin: 20px auto;
       width: 75%;
    
}

    #sideBar {
       width: 75%;
       height: 300px;
       position: relative;
       margin: 10px auto;
       border: none;
        
    }

    button {
        display: inline;
    }

    #sideBar h1 {
        margin: 0;
        
    }

    #aboutImgBox {
        position: relative;
        top: 0;
        float: none;
        margin: 20px;
        width:75%;
        text-align:center;
        
    }

    span {
        padding-bottom: 20px;
    }

}


@media only screen and (max-width:1400px) {
    #imgBox {
       margin: 20px auto;
       width: 75%;
    
}

    #sideBar {
       width: 75%;
       height: 300px;
       position: relative;
       margin: 10px auto;
       border: none;
        
    }

    button {
        display: inline;
    }

    #sideBar h1 {
        margin: 0;
        
    }

    #aboutImgBox {
        position: relative;
        top: 0;
        float: none;
        margin: 20px auto;
        width:75%;
        text-align:center;
    }

    span {
        padding-bottom: 20px;
    }

}

