body {
    background: linear-gradient(to right, greenyellow, aqua,pink);
}
    
#calculator {
    border:none;
    height: 525px;
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
    text-align: left;
    background-color: greenyellow;
    box-shadow:10px 10px 20px 10px pink;
}

input[type=text], input[type=number], select {
    border-radius: 10px;
    font-size: 10pt;
}

input[type=number] {
    width: 130px;
}

input[type=number]:focus, input[type=text]:focus {
    outline-color: pink;
}

input:hover {
    background-color: greenyellow;
}

 h1 {
     display: block;
    background-color:aqua;
     text-align: center;
     padding: 10px 0;

     margin: 0;
     border-top-left-radius: 20px;
     border-top-right-radius: 20px;
}

#container {
    height: 525px;
    width: 360px;
    margin: 100px auto;
    border-radius: 20px;
}

hr {
    margin: 0 0 15px 0;
    border: 5px solid pink;
}

label, input, select {
    position: relative;
    margin: 25px 10px;
}
label {
    font-size: 10pt;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#serviceQuality {
    /* outline-color: pink;
    border: 5px solid pink;
     */
     /* width: 100%; */
  /* padding: 16px 20px; */
  border: none;
  background-color: #f1f1f1;
}

select:focus {
    outline-color: pink;
}

input[type=button]{
    display: block;
    background-color: aqua;
    color: black;
    position: relative;
    margin: 40px auto;
    font-size: 20pt;
    border: 2px groove pink;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    font-weight: bold;
    box-shadow: 5px 5px 5px grey;
}

input[type=button]:hover {
    background-color: pink;
    box-shadow: 5px 5px 5px grey;
    
}

input[type=button]:focus {
    outline: none;
}

#feedBack {
    margin: 10px auto;
    height: 18px;
    text-align: center;
    font-size: 10pt;
    font-weight: bolder;
    font-family: monospace;
}